{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="MHS">

    <!--favicon icon-->
    <link rel="icon" type="image/png" href="{% static 'diverse/' %}assets/img/favicon.png">

    <title>Login Page</title>

    <!--google font-->
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">


    <!--common style-->
    <link href="{% static 'diverse/' %}assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'diverse/' %}assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'diverse/' %}assets/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="{% static 'diverse/' %}assets/vendor/themify-icons/css/themify-icons.css" rel="stylesheet">
    <link href="{% static 'diverse/' %}assets/vendor/weather-icons/css/weather-icons.min.css" rel="stylesheet">

    <!--custom css-->
    <link href="{% static 'diverse/' %}assets/css/main.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static 'diverse/' %}assets/vendor/html5shiv.js"></script>
    <script src="{% static 'diverse/' %}assets/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body class="">

    <!--===========login start===========-->

    <div class="container">

        {% block content %}{% endblock %}

    </div>
    <!--===========login end===========-->


    <!-- Placed js at the end of the page so the pages load faster -->
    <script src="{% static 'diverse/' %}assets/vendor/jquery/jquery.min.js"></script>
    <script src="{% static 'diverse/' %}assets/vendor/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'diverse/' %}assets/vendor/popper.min.js"></script>
    <script src="{% static 'diverse/' %}assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="{% static 'diverse/' %}assets/vendor/jquery-ui-touch/jquery.ui.touch-punch-improved.js"></script>
    <script class="include" type="text/javascript" src="{% static 'diverse/' %}assets/vendor/jquery.dcjqaccordion.2.7.js"></script>
    <script src="{% static 'diverse/' %}assets/vendor/jquery.scrollTo.min.js"></script>

    <!--[if lt IE 9]>
    <script src="{% static 'diverse/' %}assets/vendor/modernizr.js"></script>
    <![endif]-->


</body>
</html>


